<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Come Say Hello on GitHub!</h2>
                    <h3 class="section-subheading text-muted">
						We use GitHub as a platform to organize HackyHours. This page is actually generated from the github 
						page, come check it out! Create a github account and click the button below. It will take you to our
						"Issues" page which is what we use as a web forum. Outside of meeting in person, we want this place to
						be available for chatting about anything related to Hacking at the UofM. 
					</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="{{ site.github.issues_url }}" class="btn btn-xl">Talk To Us</a>
                  </div>

            </div>
        </div>
    </section>
